@import "tailwindcss";

@theme inline{
  --color-brand-dark: #1F3C5D;
  --color-brand-blue: #2A437C;
  --color-brand-gray: #6B89A8;
  --color-brand-light-gray: #9EA1A2;
  --color-brand-ice: #CED6DE;
}